<div class="row" *ngIf="collateraldocuments">
    <div class="col-xl-12 col-md-12">
        <div #recentdocsDiv style="background-color: white;">
            <div class="row">
                <div class="col-xl-8 col-md-8">
                    <h4 style="color:cornflowerblue">&nbsp;
                        Recent Documents
                    </h4>
                </div>
               
            </div>
            <div class="row" style=" border-bottom : 1px solid gray;background-color: white">
                <div class="col-xl-3 col-md-3"><b>Action</b></div>
                <div class="col-xl-3 col-md-3"> <b>Name</b></div>
                <div class="col-xl-3 col-md-3"><b>Active</b></div>
                <div class="col-xl-3 col-md-3"><b>Date</b></div>

            </div>
            <div class="row" style=" border-bottom : 1px solid gray">
                <div class="col-xl-3 col-md-3"><i class="fa fa-file"></i></div>
                <div class="col-xl-3 col-md-3">Appraisal</div>
                <div class="col-xl-3 col-md-3"><span style="color:cornflowerblue"><i
                            class="fa fa-check-square"></i></span> </div>
                <div class="col-xl-3 col-md-3">01/01/2017</div>

            </div>
            <div class="row" style=" border-bottom : 1px solid gray">
                <div class="col-xl-3 col-md-3"><i class="fa fa-file"></i></div>
                <div class="col-xl-3 col-md-3">Proof of insurence</div>
                <div class="col-xl-3 col-md-3"><span style="color:cornflowerblue"><i
                            class="fa fa-check-square"></i></span> </div>
                <div class="col-xl-3 col-md-3">01/01/2017</div>

            </div>
            <div class="row" style=" border-bottom : 1px solid gray">
                <div class="col-xl-3 col-md-3"><i class="fa fa-file"></i></div>
                <div class="col-xl-3 col-md-3">Tax certificate</div>
                <div class="col-xl-3 col-md-3"><span style="color:cornflowerblue"><i
                            class="fa fa-check-square"></i></span> </div>
                <div class="col-xl-3 col-md-3">01/01/2017</div>

            </div>

        </div>
    </div>

    <div class="col-xl-6 col-md-6">


    </div>
</div>