<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">


            <div class="col-xl-1 col-md-1">
                <p><b></b>  </p>
            </div>
            <div class="col-xl-1 col-md-1">
                &nbsp;&nbsp;
                <p><b>Global</b> </p>
            </div>
            <div class="col-xl-2 col-md-2">
                <select>
                    <option value="0">Select</option>
                    <option value="1">Real Estate</option>
                </select>
            </div>
            <div class="col-xl-2 col-md-2">
                <select>
                    <option value="0">Any</option>
                    <option value="1">Real Estate</option>
                </select>
            </div>
            <div class="col-xl-2 col-md-2">
                <select>
                    <option value="0">DOT</option>
                    <option value="1">Real Estate</option>
                </select>
            </div>
            <div class="col-xl-2 col-md-2">
                <select>
                    <option value="0">Region</option>
                    <option value="1">Real Estate</option>
                </select>
            </div>
            <div class="col-xl-2 col-md-2">
                <select>
                    <option value="0">Branch</option>
                    <option value="1">Real Estate</option>
                </select>
            </div>

        </div>

    </div>
</div>