<div>
    <div class="modal-header row" style="width:100%">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
    <div class="modal-body row" style="width:100%">
        <div class="row" style="width:100%">
            <div class="col-lg-1 col-xl-1 col-md-1">
                No.
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                Edit/Info
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                Deal
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                User
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                Participation Type
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                Primary
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                Interim User
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                Assigned User
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                Party Name
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                Product Description
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                Amount
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                Stage Label
            </div>

        </div>
        <div class="row" style="width:100%">
            <div class="col-lg-1 col-xl-1 col-md-1">
                1
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
               <i class="fa fa-plus-square"></i>
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                2156
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                User
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                Officer
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
            <input type="checkbox">
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                    bmueller
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                    bmueller
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                    Oley sdhf 
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                    Commercial 1-4 Family
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                    35000
            </div>
            <div class="col-lg-1 col-xl-1 col-md-1">
                    Booking
            </div>

        </div>

        <!-- <div style="overflow: scroll;" *ngFor="let reportLoan of reportLoanData ">
            <div *ngFor="let loan of reportLoan | keyvalue">
                {{loan.key}}:{{loan.value}}
            </div>
        </div> -->
    </div>
    <div class="modal-footer row" style="width:100%">
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
    </div>
</div>