@import "../../styles/modals.scss";
@import "../../styles/mixins/buttons.scss";
.dailogBox div.upper-layer div.middle-layer {
  padding: 0px 0 50px 0px;
}

.bellTag[_ngcontent-c1] p[_ngcontent-c1] {
  border-bottom: 1px solid #e6e6e6;
  padding-left: 0px;
  padding-bottom: 29px;
  margin-left: 8px;
}

.btn-s {
  border: 1px solid #e0245a;
  position: relative;
  // border-radius: 30px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  background-color: #7db343;
  transition: all 0.7s ease 0.02s;
  cursor: pointer;
  text-align: center !important;
  border: 1px solid #7db343;
  border-bottom: 4px solid #618c33;
  font-size: 20px !important;
  color: #ffffff !important;
  padding: 6px 50px;
}
.btn-s:hover {
  opacity: 0.7;
  text-decoration: none;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.d-flex1.ng-star-inserted {
  text-align: -webkit-left;
}
.bellTag p strong {
  font-size: 16px;
  text-transform: uppercase;
}
.bellTag p {
  border-bottom: 1px solid grey;
  padding-bottom: 30px;
}

element.style {
  background-color: darkgray;
  margin-left: -319px;
}
button {
  margin-left: 11px;
  padding: 10px;
}
.d-flex1 {
  
  border-bottom: 1px solid darkgray;
}