ul {
   padding: 0px;
}

.mat-expansion-panel-header {
  padding: 0px 15px;
  transition: none;
  text-transform: uppercase;
  font-weight: 500;
}

.mat-expansion-panel-header-title {
  color:#6d6d6d;
}

::ng-deep div.mat-list-item-content {
  padding: 0px 10px !important;
}

span {
  font-size: 15px;
  padding: 0px 10px;
  font-weight: 500;
  color: #6d6d6d;
  text-transform: uppercase
}

mat-expansion-panel {
  background: #F5F5F6;
}

mat-icon {
  color: #6d6d6d
}
