<!-- <p>Requirement due form works!</p> -->
<!-- <div *ngFor="let r of reqdue| keyvalue">
        {{ r.key }} - <b>{{ r.value }}</b>
      </div> -->


<div class="row">
    <div class="col-xl-4 col-md-4">
        <p>Name</p>
    </div>
    <div class="col-xl-4 col-md-4">
        <p>Type</p>
    </div>
    <div class="col-xl-4 col-md-4">
        <p>StatusDescription</p>
    </div>
</div>



<div class="row">
    <div class="col-xl-4 col-md-4">
        <p>{{reqdue.Name}}</p>
    </div>
    <div class="col-xl-4 col-md-4">
        <p>{{reqdue.Type}}</p>
    </div>
    <div class="col-xl-4 col-md-4">
        <p>{{reqdue.StatusDescription}}</p>
    </div>
</div>