@import '../../../../../../../mat-theme.scss';

h6 {
  margin-bottom: 15px;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 35px !important;
}

// mat-tab-group.loan-tab-group-secondary > div.mat-tab-body-wrapper > mat-tab-body {
//   overflow: visible;
// }

// mat-tab-group.loan-tab-group-secondary > div.mat-tab-body-wrapper > mat-tab-body > div.mat-tab-body-content {
//   overflow: visible !important;
// }

.mat-form-field {
  width: 100%;
}

.mat-label-loan-edit {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 12px !important;
}

.mat-button-toggle-label-content {
  color: #717171;
  font-weight: 400;
  text-transform: uppercase;
}

.loan-detail-button-save {
  float: right;
  padding-left: 5rem;
  padding-right: 5rem;
  text-transform: uppercase;
  background: #34bfa3;
  color: #fff;
  margin: 1.5rem 1.5rem 1.5rem 0px
}

.loan-detail-button-cancel {
  float: right;
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: uppercase;
  background: rgb(167, 167, 167);
  color: #fff;
  margin: 1.5rem
}

.loan-detail-button-remove {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: uppercase;
  background: rgb(231, 115, 115);
  color: #fff;
  margin: 1.5rem
}

.loan-detail-body::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.loan-detail-body::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.26);
}

.loan-detail-body {
  height: 100%;
  overflow-y: auto;
  padding: 1rem 2rem 2rem 2rem
}

.error-border-button {
  border: 2px solid #f00;
  border-radius: 5px
}

.edit-row-sm {
  height: 25px;
  margin: 20px auto;
  width: 90%;
}

.edit-row-lg {
  margin: 20px auto;
  width: 90%;
}

.edit-row-text-area {
  min-height: 100px;
  margin: 20px auto;
  width: 90%;
}

.edit-row {
  padding: 5px 0px
}

.edit-row > div > mat-form-field > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix {
  width: 100%;
}

.edit-row > div {
  width: 50%;
  display: inline-block;
}

.edit-row-three-line > div:first-child {
  width: 50%;
  display: inline-block
}

.edit-row-three-line > div:nth-child(2) {
  width: 25%;
  display: inline-block
}

.edit-row-three-line > div:last-child {
  width: 25%;
  display: inline-block
}

.edit-row-top {
  padding: 3rem 0rem 0.5rem 0rem;
}

.edit-row-top > div > mat-form-field > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix {
  width: 100%;
}

.edit-row-top > div {
  width: 100%
}

.edit-row-full > div > mat-form-field > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix {
  width: 100%;
}

.edit-row-full {
  padding: 10px 0px
}

.edit-row-full > div {
  width: 100%
}

.edit-row-full > div > mat-form-field > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix {
  width: 100%
}

.loan-detail-u-footer-container > div {
  width: 100%;
  background: #ebedf2;
  z-index: 100;
}

.req-doc-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 1px;
  position: relative;
}

.req-doc-body {
  flex: 1 1 auto;
  min-height: 1px;
  z-index: 0;
}

.req-doc-button {
  float: right;
  font-size: 12px;
  margin: 0px 5px;
  height: 30px;
  line-height: 30px;
  color: #707070;
  text-transform: uppercase;
  background: #f5f5f5
}

.req-doc-button:hover {
  color: #474747;
  background: #d1e6e8
}

.req-doc-button-icon {
  float: right;
  background: #f5f5f5;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0px 5px;
}

.req-doc-button-icon>span>mat-icon {
  font-size: 18px !important;
}


.req-doc-button-icon-upload>span>mat-icon {
  color: #7ec7ff;
  font-size: 30px !important;
  line-height: 20px;
}

.req-doc-title {
  font-weight: 500;
  position: relative;
  top: 5px;
}

.req-doc-subtitle {
  font-size: 11px;
}

.req-doc-list-item {
  border-radius: 4px;
  margin: 2rem 0px;
}

.req-doc-list-item:first-child {
  border-radius: 4px;
  margin: 0rem 0px 2rem 0px;
}

.req-doc-input {
  width: 50%
}

.req-doc-input>input {
  height: 35px;
  border-radius: 20px;
}

mat-list.req-doc-body>mat-list-item.req-doc-list-item>div.mat-list-item-content>div.mat-list-text {
  border-bottom: 1px solid #e0e0e0;
  margin-left: 16px;
  padding-left: 0px !important;
  padding-bottom: 10px;
}

.mat-form-field-prefix {
  top: 0em !important;
}

.footer-height-dirty {
  height: 5%
}

.footer-height {
  height: 0%
}

.body-height {
  height: 100%
}

.body-height-dirty {
  height: 95%
}
