<div> 
    <div class="modal-header">
      <h4 class="modal-title">
        {{ title }}
      </h4>

      <button mat-menu-item >
        <mat-icon aria-label="menu" (click)="ngOnInit()" aria-hidden="false">refresh</mat-icon>
      </button>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
        <span aria-hidden="true">&times;</span>
      </button>
  
    </div>
    <div class="modal-body">
        <history-common-component [sumresult]="summaryList"></history-common-component>
  </div>
  </div>
  
    