<div class="modal-small">
  <div class="modal-header">
    <div class="modal-title">
      Add Manual Requirement
    </div>
    <div class="modal-button-close">
      <mat-icon class="u-mat-icon-grey" (click)="activeModal.dismiss()">close</mat-icon>
    </div>
  </div>
  <div class="modal-body">
    <div>--- Multi-Select Goes Here ---</div>
  </div>
  <div class="modal-footer" fxLayoutAlign="end center">
      <button aria-label="cancel" (click)="activeModal.dismiss()" mat-flat-button>CANCEL</button>
      <button type="submit" class="u-button-save" mat-raised-button>Save</button>

  </div>

</div>
