@import '../../../../../../mat-theme.scss';

a {
  position: relative;
  top: 10px
}

.m-portlet {
  height: 100%;
}

.m-portlet__body {
  width: 100%;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  text-transform: uppercase;
}

::ng-deep .mat-tab-label {
  max-width: 33%;
  min-width: 50px !important;
}

h4 {
  font-family: 'Roboto';
  margin-bottom: 0px;
  padding: 20px;
  color: #404040;
}

mat-icon {
  color: #959595;
  font-size: 30px;
}

.top-align {
  vertical-align: top !important;
}

::ng-deep .mat-tab-link {
  min-width: 33.3% !important;
  text-transform: uppercase !important;
}

mat-chip {
  font-size: 12px;
  margin-left: 10px;
}

.mat-standard-chip {
  padding: 2px 10px;
  min-height: 20px;
  border-radius: 4px;
}

mat-progress-bar {
  margin-top: 15px !important;
}

.mat-list-primary > h5, mat-chip {
  display: inline-block
}

.mat-icon-background {
  background: #e8e8e8;
  padding: 6px;
}

mat-list > mat-list-item {
  margin-top: 20px;
}

.m-portlet {
  margin-right: 10px;
}

.party-list-item.active{
  background: #f5f5f5;
}

.party-list-item:hover {
  background: #f5f5f5
}

.party-list-text {
  vertical-align: bottom;
  margin-right: 20px;
  cursor: pointer;
  font-weight: 400;
  color: #578da9;
}

.party-list-text:hover {
  color: mat-color($accent)
}

.party-list-text-label {
  font-size: 12px !important;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.Doc-name:hover {
  color: #5699c5;
  text-decoration: underline;
  cursor: pointer;
}