<!-- For pagination -->
<ngb-pagination [(page)]="pagination.page" [pageSize]="pagination.numRecords" aria-label="Default pagination"
    [collectionSize]="pagination.maxInboxSize" [ellipses]="true" [maxSize]="5" (pageChange)="onPageChange($event)"
    [rotate]="true" [boundaryLinks]="true">
    <ng-template ngbPaginationFirst>First</ng-template>
    <ng-template ngbPaginationLast>Last</ng-template>
    <ng-template ngbPaginationPrevious>Prev</ng-template>
    <ng-template ngbPaginationNext>Next</ng-template>
    <ng-template ngbPaginationEllipsis>...</ng-template>
    <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
</ngb-pagination>