.snack-bar-icon {
  margin-right: 10px;
  position: relative;
  top: 5px;
  font-size: 20px;
  color: #383838
}

.snack-bar-text {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  position: relative;
  color: #383838
}

.snack-bar-button {
  float: right;
  background: transparent;
  color: rgb(82, 82, 82);
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  position: relative;
  top: 4px;
  padding: 0px 10px;
}



